%h2 プロフィール情報登録
= form_for @profile do |f|
  = render "devise/shared/error_messages", resource: @profile
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :family_name
    %br/
    = f.text_field :family_name
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana
  .field
    = f.label :family_name_kana
    %br/
    = f.text_field :family_name_kana
  .field
    = f.label :birthday
    %br/
    = f.date_field :birthday
  = fields_for @address do |adr|
    = render "devise/shared/error_messages", resource: @address
    .field
      = adr.label :dest_family_name
      %br/
      = adr.text_field :dest_family_name
    .field
      = adr.label :dest_first_name
      %br/
      = adr.text_field :dest_first_name
    .field
      = adr.label :dest_family_name_kana
      %br/
      = adr.text_field :dest_family_name_kana
    .field
      = adr.label :dest_first_name_kana
      %br/
      = adr.text_field :dest_first_name_kana
    .field
      = adr.label :post_code
      %br/
      = adr.text_field :post_code
    .field
      = adr.label :prefecture_code
      %br/
      = adr.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code,:name, include_blank: '都道府県'
    .field
      = adr.label :city
      %br/
      = adr.text_field :city
    .field
      = adr.label :street_number
      %br/
      = adr.text_field :street_number
    .field
      = adr.label :building_name
      %br/
      = adr.text_field :building_name
    .field
      = adr.label :phone_number
      %br/
      = adr.text_field :phone_number
  .actions
    = f.submit "Sign Up"

= render "devise/shared/links"
