%body
.register-container
  %header.register-header
    %h1
      %a{href: root_path}
        %img{alt: "furima", src: asset_path("logo/logo.png")}/
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li
          会員情報
          .progress-status
        %li.active
          会員プロフィール
          .progress-status
        %li
          完了
          .progress-status
  %main.register-main
    %section.l-register-container
      %h2.l-single-head.registration 会員プロフィール入力
      = form_for( @profile , html:{ class: "l-registration-inner" }) do |f|
        = render "devise/shared/error_messages", resource: @profile
        .l-register-content
          .register-form-group
            = f.label :family_name, "お名前（全角）"
            %span.register-form-require 必須
            .register-form-double-fileds
              = f.text_field :family_name, placeholder: "例) 山田" , class: "register-field--half"
              = f.text_field :first_name, placeholder: "例) タマ子", class: "register-field--half"
          .register-form-group
            = f.label :family_name_kana, "お名前（全角かな）"
            %span.register-form-require 必須
            .register-form-double-fileds
              = f.text_field :family_name_kana, placeholder: "例) やまだ" , class: "register-field--half"
              = f.text_field :first_name_kana, placeholder: "例) たまこ" , class: "register-field--half"
          .register-form-group
            = f.label :birthday, "生年月日"
            = f.date_field :birthday, class: "register-field--full"
          = fields_for @address do |adr|
            = render "devise/shared/error_messages", resource: @address
            .register-form-group
              = adr.label :dest_family_name, "送付住所のお名前（全角）"
              %span.register-form-require 必須
              .register-form-double-fileds
                = adr.text_field :dest_family_name, placeholder: "例) 山田", class: "register-field--half"
                = adr.text_field :dest_first_name, placeholder: "例) 歳三", class: "register-field--half"
            .register-form-group
              = adr.label :dest_family_name_kana, "送付住所のお名前（全角かな）"
              %span.register-form-require 必須
              .register-form-double-fileds
                = adr.text_field :dest_family_name_kana, placeholder: "例) やまだ", class: "register-field--half"
                = adr.text_field :dest_first_name_kana, placeholder: "例) としぞう", class: "register-field--half"
            .register-form-group
              = adr.label :post_code, "郵便番号（半角数字７桁）"
              %span.register-form-require 必須
              = adr.text_field :post_code, placeholder: "例) 1234567", class: "register-field--full"
            .register-form-group
              = adr.label :prefecture_code, "都道府県（選択）"
              %span.register-form-require 必須
              = adr.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code,:name, include_blank: '都道府県', class:"register-field--full"
            .register-form-group
              = adr.label :city, "市区町村名"
              %span.register-form-require 必須
              = adr.text_field :city, placeholder: "例) 港区",class: "register-field--full"
            .register-form-group
              = adr.label :street_number, "番地"
              %span.register-form-require 必須
              = adr.text_field :street_number, placeholder: "例) 芝浦１−１−１", class: "register-field--full"
            .register-form-group
              = adr.label :building_name, "マンション・ビル名"
              = adr.text_field :building_name, placeholder: "例) ロッソ芝浦１０１０", class: "register-field--full"
            .register-form-group
              = adr.label :phone_number, "電話番号（半角数字11桁）"
              %span.register-form-require 必須
              = adr.text_field :phone_number,placeholder: "例) 01234567890", class: "register-field--full"
        .l-register-content
          .register-form-group
            = f.button "登録", class: "register-btn register-btn-cian"

= render "devise/shared/links"
