.mypage__side
  %nav.mypage__nav
    - sidemenu.each do |head, items|
      %h3.mypage__nav__head
        = head
      - items.each do |item|
        %ul.mypage__nav__list
          %li
            -if active_menu==item[:title]
              = link_to eval(item[:path]), method: :get , class: "mypage__nav__list-item__active" do
                = item[:title]
                -if item[:value]
                  %span.mypage-nav-number
                    = item[:value]
                %i.icon-arrow-right
            -else
              = link_to eval(item[:path]), method: :get , class: "mypage__nav__list-item" do
                = item[:title]
                -if item[:value]
                  %span.mypage-nav-number
                    = item[:value]
                %i.icon-arrow-right