= render 'items/header_breadcrumbs'
- breadcrumb :favarites
= render "layouts/breadcrumbs"
%main.mypage__container.clearfix
  =render partial: 'users/sidemenu', locals: {active_menu: "いいね！一覧"}
  .mypage__content
    .mypage__favContent
      .mypage__favContent__title
        いいね！一覧
      %ul.mypage__favContent__lists
        - current_user.favorite_items.each do |item|
          %li.mypage__favContent__list
            = link_to item_path(item), class: "mypage__favContent__content" do
              %figure.mypage__favContent__content__image
                - if item.trading_status == 1
                  .mypage__productSold
                    .mypage__productSold__inner
                      SOLD
                - item.item_imgs.each_with_index do |item_img, i|
                  -# 配列の先頭の画像のみ表示
                  -if i == 0
                    = image_tag item_img.url.url
              .mypage__favContent__content__body
                %h3.mypage__favContent__content__body--name
                  = item.name
                .mypage__favContent__content__body__details
                  %ul
                    %li
                      = "#{item.price.to_s(:delimited, delimiter: ',')}円"
                  %p.tax
                    (税込)
              .mypage__favContent__content__iconArrow
    .mypage__favPagenate
= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'
= render 'items/camerabutton'
