= render 'items/header_breadcrumbs'
- breadcrumb :mypage
= render 'layouts/breadcrumbs'
- if user_signed_in? && current_user.id == @target_user_id
  %main.mypage__container.clearfix
    =render partial: 'users/sidemenu', locals: {active_menu: "マイページ"}
    =render 'users/mypage_content'
- else
  =render 'users/userpage_content'
= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'
= render 'items/camerabutton'
