%body
  %header.pcHeader
    .headerInner
      .mainHeader
        %h1.icon
          = link_to root_path do
            = image_tag 'logo.png', height: '41', width: '140'
        .searchBox
          %form{"accept-charset" => "UTF-8", action: "#", method: "get"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input#searchInput.searchBox--input{name: "key", placeholder: "キーワードから探す"}/
            %button{type: "submit"}
              .searchBox__icon
                = image_tag 'icon-search 1.png', height: '20', width: '20'
            %input{name: "authenticity_token", type: "hidden", value: "kRlCZacZocQxRbMm04ok7Aze5BEkOhq1nVZ4OizLi+k7nVGGHdamQKYlgribxg0EitLTAzfJGJ3VOvckwE+uEA=="}/
        %ul.resultLists
      .nav
        %ul.listsLeft
          %li.listsLeft__item.listsLeft__item--first
            = link_to "#", class:"#catBtn" do
              カテゴリー
            .tree.displayNone
              %ul.categoryTree
                %li.categoryTree--item
                  = link_to "#", class:"#1" do
                    レディース
                %li.categoryTree--item
                  = link_to "#", class:"#2" do
                    メンズ
                %li.categoryTree--item
                  = link_to "#", class:"#3" do
                    ベビー・キッズ
                %li.categoryTree--item
                  = link_to "#", class:"#4" do
                    インテリア・住まい・小物
                %li.categoryTree--item
                  = link_to "#", class:"#5" do
                    本・音楽・ゲーム
                %li.categoryTree--item
                  = link_to "#", class:"#6" do
                    おもちゃ・ホビー・グッズ
                %li.categoryTree--item
                  = link_to "#", class:"#7" do
                    コスメ・香水・美容
                %li.categoryTree--item
                  = link_to "#", class:"#8" do
                    家電・スマホ・カメラ
                %li.categoryTree--item
                  = link_to "#", class:"#9" do
                    スポーツ・レジャー
                %li.categoryTree--item
                  = link_to "#", class:"#10" do
                    ハンドメイド
                %li.categoryTree--item
                  = link_to "#", class:"#11" do
                    チケット
                %li.categoryTree--item
                  = link_to "#", class:"#12" do
                    自動車・オートバイ
                %li.categoryTree--item
                  = link_to "#", class:"#13" do
                    その他
          %li.listsLeft__item
            = link_to "#", class:"#brandBtn" do
              ブランド
            %ul.brandsPulldown.displayNone
        %ul.listsRight
          - if user_signed_in?
            %li.listsRight__item.listsRight__item--login
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            %li.listsRight__item.listsRight__item--login
              = link_to "ログイン", new_user_session_path
            %li.listsRight__item.listsRight__item--new
              = link_to "新規会員登録", new_user_registration_path

%main.l-container.clearfix
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          -# (以下パスのプレフィックス指定ではNameError)
          = link_to "/jp/mypage/", class:"mypage-nav-list-item.active" do
            マイページ
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/notification/", class:"mypage-nav-list-item" do
            お知らせ
            %span.mypage-nav-number
              99+
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/todo/", class:"mypage-nav-list-item" do
            やることリスト
            %span.mypage-nav-number
              1
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/like/history/", class:"mypage-nav-list-item" do
            いいね！一覧
            %i.icon-arrow-right
        %li
          = link_to "/jp/sell/", class:"mypage-nav-list-item" do
            出品する
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/drafts/", class:"mypage-nav-list-item" do
            下書き一覧
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/listings/listing/", class:"mypage-nav-list-item" do
            出品した商品 - 出品中
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/listings/in_progress/", class:"mypage-nav-list-item" do
            出品した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/listings/completed/", class:"mypage-nav-list-item" do
            出品した商品 - 売却済み
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/purchase/", class:"mypage-nav-list-item" do
            購入した商品 - 取引中
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/purchased/", class:"mypage-nav-list-item" do
            購入した商品 - 過去の取引
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/news/", class:"mypage-nav-list-item" do
            ニュース一覧
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/review/history/", class:"mypage-nav-list-item" do
            評価一覧
            %i.icon-arrow-right
        %li
          = link_to "/jp/help_center/", class:"mypage-nav-list-item" do
            ガイド
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/support/", class:"mypage-nav-list-item" do
            お問い合わせ
            %i.icon-arrow-right
      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li
          = link_to "/jp/mypage/sales/", class:"mypage-nav-list-item" do
            残高・振込申請
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/point/", class:"mypage-nav-list-item" do
            ポイント
            %i.icon-arrow-right
      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li
          = link_to "/jp/mypage/profile/", class:"mypage-nav-list-item" do
            プロフィール
            %i.icon-arrow-right
        %li
          -# = link_to "/jp/mypage/deliver_address/", class:"mypage-nav-list-item" do
          -#   発送元・お届け先住所変更
          = link_to "/users/#{@user.id}/sending_destination", method: :get do
            発送元・お届け先住所変更
            %i.icon-arrow-right
        %li
          -# = link_to new_card_path, class:"mypage-nav-list-item" do
          -# = link_to "/users/regist", class:"mypage-nav-list-item" do
          = link_to "/users/#{@user.id}/regist", method: :get do
            支払い方法
          -# = link_to '支払い方法', "/users/#{@user.id}/regist", method: :get d
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/email_password/", class:"mypage-nav-list-item" do
            メール/パスワード
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/identification/", class:"mypage-nav-list-item" do
            本人情報
            %i.icon-arrow-right
        %li
          = link_to "/jp/mypage/sms_confirmation/", class:"mypage-nav-list-item" do
            電話番号の確認
            %i.icon-arrow-right
        %li
          = link_to "/jp/logout/", class:"mypage-nav-list-item" do
            ログアウト
            %i.icon-arrow-right
  .l-content
    %section.mypage-user-icon
      = link_to "https://www.mercari.com/jp/u/593500295/" do
        %figure
          %img{alt: "", height: "60", src: "//static.mercdn.net/thumb/members/593500295.jpg?1485573557", width: "60"}/
        %h2.bold
          = @user.nickname
        .mypage-number
          %div
            評価
            %span.bold 42
          %div
            出品数
            %span.bold 37
    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", href: "#mypage-tab-notification"}
              お知らせ
              %span.mypage-nav-number.hidden-large
                99+
        %li
          %h3
            %a{"data-toggle" => "tab", href: "#mypage-tab-todo"}
              やることリスト
              %span.mypage-nav-number.hidden-large
                1
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            = link_to "https://www.mercari.com/jp/mypage/news/", class:"mypage-item-link" do
              %figure
                = image_tag 'logo_notext.png', alt: '', height: '50', width: '20', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「ログイン通知」
                %time
                  %i.icon-time
                  %span 0 秒前
              %i.icon-arrow-right
          %li
            %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", href: ""}
              %figure
                = image_tag 'logo_notext.png', alt: '', height: '50', width: '20', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 《メルカリｘマイナポイントがお得》メルカリで買うと最大でP5,000+P1,000もらえる！事前準備はこちら
                %time
                  %i.icon-time
                  %span 1 日前
              %i.icon-arrow-right
          %li
            %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", href: ""}
              %figure
                = image_tag 'logo_notext.png', alt: '', height: '50', width: '20', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 《最大P1,000もらえる♪》dアカウント連携してGETしよう！ドコモ以外も全員対象！
                %time
                  %i.icon-time
                  %span 5 日前
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/mypage/news/", class:"mypage-item-link" do
              %figure
                = image_tag 'logo_notext.png', alt: '', height: '50', width: '20', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「商品削除のお知らせ」
                %time
                  %i.icon-time
                  %span 6 日前
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/mypage/news/", class:"mypage-item-link" do
              %figure
                = image_tag 'logo_notext.png', alt: '', height: '50', width: '20', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「ログイン通知」
                %time
                  %i.icon-time
                  %span 6 日前
              %i.icon-arrow-right
          %li.mypage-go-list
            = link_to "/jp/mypage/notification/" do
              一覧を見る
        %ul#mypage-tab-todo.mypage-item-list.tab-pane
          %li
            = link_to "https://www.mercari.com/jp/mypage/email_password/", class:"mypage-item-link" do
              %figure
                = image_tag 'logo_notext.png', alt: '', height: '50', width: '20', class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text メールが届いていない状態です。設定しているメールアドレスをご確認ください
                %time
                  %i.icon-time
                  %span 48 日前
              %i.icon-arrow-right
          %li.mypage-go-list
            = link_to "/jp/mypage/todo/" do
              一覧を見る
    -# %aside.modal{"data-close" => "modal", "data-modal" => "banner"}
    -#   .modal-inner.modal-banner
    -#     .modal-banner-eye-catch
    -#       %img{alt: "", src: "//pcweb-assets.mercdn.net/assets/img/common/jp/top/main_content_pc.png?3708682721"}/
    -#       %img{alt: "", src: "//pcweb-assets.mercdn.net/assets/img/common/common/logo.svg?3708682721"}/
    -#     .modal-banner-body
    -#       %h2 今すぐ無料ダウンロード！
    -#       %p.bold 全ての機能を使えるスマホアプリはこちら！
    -#       .modal-banner-app.clearfix
    -#         %a.pull-left{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
    -#           %img{alt: "", src: "//pcweb-assets.mercdn.net/assets/img/common/common/app-store.svg?3708682721"}/
    -#         %a.pull-left{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
    -#           %img{alt: "", src: "//pcweb-assets.mercdn.net/assets/img/common/common/google-play.svg?3708682721"}/
    -#       %a.modal-banner-app-open{"data-action" => "app/launch", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", href: ""}
    -#         アプリで開く
    -#     %i.icon-close{"data-close" => "modal"}
    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li.active
          %h3
            %a{"data-toggle" => "tab", href: "#mypage-tab-transaction-now"}
              取引中
        %li
          %h3
            %a{"data-toggle" => "tab", href: "#mypage-tab-transaction-old"}
              過去の取引
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane.active
          %li
            = link_to "https://www.mercari.com/jp/transaction/order_status/m95269895967/", class:"mypage-item-link" do
              %figure
                %img.lazyload{alt: "", "data-src" => "//static.mercdn.net/thumb/photos/m95269895967_1.jpg?1579615319"}/
              .mypage-item-body
                .mypage-item-text
                  「siroca 4L 電気圧力鍋　ホワイト SP-4D171 シロカ」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/transaction/order_status/m55596442625/", class:"mypage-item-link" do
              %figure
                %img.lazyload{alt: "", "data-src" => "//static.mercdn.net/thumb/photos/m55596442625_1.jpg?1574080785"}/
              .mypage-item-body
                .mypage-item-text
                  「CFP 精選過去問題集 2018〜2019年  ライフプランニング」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/transaction/order_status/m46215870580/", class:"mypage-item-link" do
              %figure
                %img.lazyload{alt: "", "data-src" => "//static.mercdn.net/thumb/photos/m46215870580_1.jpg?1574080587"}/
              .mypage-item-body
                .mypage-item-text
                  「CFP 精選過去問題集 2018〜2019年  リスクと保険」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/transaction/order_status/m24534089083/", class:"mypage-item-link" do
              %figure
                %img.lazyload{alt: "", "data-src" => "//static.mercdn.net/thumb/photos/m24534089083_1.jpg?1574080385"}/
              .mypage-item-body
                .mypage-item-text
                  「CFP 精選過去問題集 2018〜2019年  不動産運用設計」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right
          %li
            = link_to "https://www.mercari.com/jp/transaction/order_status/m67053114610/", class:"mypage-item-link" do
              %figure
                %img.lazyload{alt: "", "data-src" => "//static.mercdn.net/thumb/photos/m67053114610_1.jpg?1574080256"}/
              .mypage-item-body
                .mypage-item-text
                  「CFP 精選過去問題集 2018〜2019年 金融資産運用設計」 を購入しました。
                  %span 取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right
          %li.mypage-go-list
            = link_to "/jp/mypage/purchased/" do
              一覧を見る