= render 'items/header'
.searches_background
  .searches_contents
    = render 'searches_sidemenu'
    = render 'searches_main'
= render 'items/appbanner'
= render 'items/footer'
= render 'items/camerabutton'