-# カテゴリー/ブランドの表示分けは追って対応
.product#last-product
  %h2.subtitle 
    ピックアップブランド
  .productBox
    .productHead
      =link_to '#' do
        %h3.title
          アーカイバ
    .productLists
      .productList
        =link_to '#' do
          %figure.productList__img
            = image_tag 'pict/test_img1.jpeg'
          .productList__content
            %h3.name
              product1
            .productDetails
              %ul
                %li
                  1,000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p
                (税込)
      .productList
        =link_to '#' do
          %figure.productList__img
            = image_tag 'pict/test_img2.jpeg'
          .productList__content
            %h3.name
              product2
            .productDetails
              %ul
                %li
                  800円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p
                (税込)
      .productList
        =link_to '#' do
          %figure.productList__img
            = image_tag 'pict/test_img3.jpeg'
          .productList__content
            %h3.name
              product3
            .productDetails
              %ul
                %li
                  2,100円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p
                (税込)
      .productList
        =link_to '#' do
          %figure.productList__img
            = image_tag 'pict/test_img4.jpeg'
          .productList__content
            %h3.name
              product4
            .productDetails
              %ul
                %li
                  10,000円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p
                (税込)
      .productList
        =link_to '#' do
          %figure.productList__img
            = image_tag 'pict/test_img5.jpeg'
          .productList__content
            %h3.name
              product5
            .productDetails
              %ul
                %li
                  1,800円
                %li
                  %i.fa.fa-star.likeIcon 
                  0
              %p
                (税込)