.productLists
  - @items.each do |item|
    .productList
      = link_to item_path(item) do
        %figure.productList__img
          -# trading_status -> 1 の場合、売り切れ表示
          - if item.trading_status == 1
            .productSold
              .productSold__inner
                SOLD
          -# - item.item_imgs.each do |item_img|
          = image_tag item_imgs[0].url.url
        .productList__content
          %h3.name
            = item.name
          .productDetails
            %ul
              %li
                = "#{item.price.to_s(:delimited, delimiter: ',')}円"
              %li
                .top-grade
                  %i.far.fa-star.top-grade__likeIcon
                  .top-grade__favCnt
                    = item.favorites.count
            %p
              (税込)