= form_for @item do |f|
  .superall
    .all
      %header
        .logo
          = image_tag "logo.png", height: "80", width: "300" 
      .form-main
        .goods-photo
          #image-box
            .label-box__inner
              %label 出品画像
              %span.must 必須
            .image
              %label.ccc
                %form
                  %input#image{accept: "image/*", onchange: "previewImage(this);", type: "file"}/
                .image_form
                  %i.fa{class: "fa-camera"}
                  %canvas#preview
                  :javascript
                    function previewImage(obj)
                    {
                        var fileReader = new FileReader();
                        fileReader.onload = (function() {
                            var canvas = document.getElementById('preview');
                            var ctx = canvas.getContext('2d');
                            var image = new Image();
                            image.src = fileReader.result;
                            image.onload = (function () {
                                canvas.width = image.width;
                                canvas.height = image.height;
                                ctx.drawImage(image, 0, 0);
                            });
                        });
                        fileReader.readAsDataURL(obj.files[0]);
                    }
        %hr.border/
        .goods-all
          .goods
            %label 商品名
            %span.must 必須
          .goods_name
            = f.text_field :name, class: "goods_name_field", placeholder: "40字まで"
            %br/
          .goods_about
            %label 商品の説明
            %span.must 必須
          = f.text_area :introduction, class: "goods_introduction_field", placeholder: "商品の説明（必須 1,000文字以内）(色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        %hr.border/
        .details
          %p.detail 商品の詳細
          .category
            %label カテゴリー
            %span.must 必須
          .category_type
            .field
              = f.collection_select( :category_id, Category.all, :id, :category, {prompt: "選択してください"}, {class: "select_field"})
          .brand-all
            .brand
              %label ブランド
              %span.arbitrary 任意
            .brand_type
              = f.text_field :name, class: "select_field", placeholder: "例）シャネル"
          .goods-status-all
            .goods-status
              %label 商品の状態
              %span.must 必須
            .status-select
              .field
                = f.collection_select( :item_condition_id, ItemCondition.all, :id, :name, {prompt: "選択してください"}, {class: "select_field"})
        %hr.border/
        .delivery
          %p.delivery_about
            配送について
            .delivery_day
              %label 配送方法
              %span.must 必須
            .delivery_shipping
              .field
                = f.collection_select( :postage_type_id, PostageType.all, :id, :name, {prompt: "選択してください"}, {class: "select_field"})
            .delivery_cost
              %label 配送料の負担
              %span.must 必須
            .delivery_select
              .field
                = f.collection_select( :postage_payer_id, PostagePayer.all, :id, :name, {prompt: "選択してください"}, {class: "select_field"})
            .delivery_area
              %label 発送元の地域
              %span.must 必須
              .delivery_area_option
                .field
                  = f.collection_select( :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {prompt: "選択してください"}, {class: "select_field"})
              .delivery_day
                %label 発送までの日数
                %span.must 必須
              .delivery_shipping
                .field
                  = f.collection_select( :preparation_day_id, PreparationDay.all, :id, :name, {prompt: "選択してください"}, {class: "select_field"})
        %hr.border/
        .price-all
          .price
            %p.price_about
              価格（¥
              / 
              300
              / 
              〜
              / 
              9,999,999
              / 
              ）
            .price_write
              .price_write_selling
                %label 販売価格
                %span.must 必須
              .price_input
                %span.price_logo ¥
                .price_input_field
                  = f.number_field :price, class: "price_input_field_form"
                  %br/
        %hr.border/
        .submit
          .submit_form
            = f.submit class: "submit_form_field", value: "出品する"
      %footer
        規約
