.contents.row
  .content_post
    %span= image_tag 'pict/test_img1.jpg'
    %ul.more_list
      %li
        = link_to '編集', "/items/#{@item.id}/edit", method: :get
      %li
        = link_to '削除', "/items/#{@item.id}", method: :delete
      %li
        = link_to '購入画面へ進む', "/items/#{@item.id}/purchase", method: :get