= render 'items/header'
- if @seller.id == current_user.id
  = render 'items/itemdetail_forseller'
- else
  = render 'items/itemdetail_forbuyer'
= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'