= render 'items/header_breadcrumbs'
- breadcrumb :brands_detail
= render 'layouts/breadcrumbs'
.products-container
  .products-index
    .products-title
      = "#{@brand.brand}の商品一覧"
    - if @items
      .main
        .product
          .productBox
            = render "items/category", items: @items

    -# ページネーション（def showのper(9)部分）
    .products-paginate
      = paginate(@items)

= render 'items/bottom_dl'
= render 'items/footer'
