= render 'items/header_breadcrumbs'
- breadcrumb :self_introduction
= render 'layouts/breadcrumbs'
%main.mypage__container.clearfix
  =render partial: 'users/sidemenu', locals: {active_menu: "プロフィール"}
  =render 'users/self_introductions/new_introduction'
= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'
= render 'items/camerabutton'