= render 'items/header_breadcrumbs'
- breadcrumb :user_cards
= render 'layouts/breadcrumbs'
%main.mypage__container.clearfix
  =render partial: 'users/sidemenu', locals: {active_menu: "支払い方法"}
  -if @card.present?
    =render 'users/cards/creditcard_registered'
  -else
    =render 'users/cards/creditcard_new_confirm'
= render 'items/appbanner'
-# footerの部分テンプレート呼び出し
= render 'items/footer'
= render 'items/camerabutton'
